.cor-destaque {
    color: #0CDAC3;
}
.navbar {
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    background-color: whitesmoke;
}

.card-box {
    overflow: hidden;
}
.botao-Claro {
    background-color: #5c8f89;
    cursor: pointer;
    font-weight: 600;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}
.botao-Claro:hover {
    background-color: #4f807a;
}

.botao-Escuro {
    background-color: #4b535f;
    cursor: pointer;
    font-weight: 600;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-align: center;
    border: none;
}
.botao-Escuro:hover {
    background-color: #3a4c64;
}
.estrela-amarela {
    color: #FFCA00;
}
.estrela-cinza {
    color: #E5E5E5;
}
.botao-cta {
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: bold !important;
    background-color: whitesmoke;
    position: absolute;
    bottom: 0;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 18px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.botao-cta:hover {
    background-color: rgb(235, 232, 232);
    text-decoration: underline;
    letter-spacing: 2px;
}